
<%unless @nino.blank?%>
<h2 id="cabecera">Datos de Niño</h2>
<button>
<%=link_to "expediente",nino_expediente_path(@nino.codigo,@expediente)  %> 
</button>
<a id="ninoCodigo"><strong>Codigo:</strong><%=@nino.codigo%></a>
<a id="ninoNombre"><strong>Nombre:</strong> <%=@nino.nombre%></a> 
<a id="ninoSexo"><strong>Sexo:</strong> <%=@nino.sexo%></a>
<a id="ninoEducador"><strong>Educador</strong> <%=@nino.codigoEducador%></a>
<a id="ninoSector"><%=@nino.nombreSector%></a>
<a id="ninoBarrio"><strong>Barrio:</strong><%=@nino.nombreCentro%></a>
<a id="ninoPadrinazgo"><strong>Estado Padrinazgo: </strong><%=@nino.estadoPadrinazgo%> </a>
<div id="descripcion">
	<h3>Descripción del niño</h3>
	<p><%=@descripcion%></p>
</div>

<div id="vivienda">
<table>
	<h3>Datos Vivienda</h3>
	<tr><th>Fecha</th><th>Componente</th><th>Condicion</th><th>Observacion</th>
	<%@datos_vivienda.each do |vivienda|%>
	</tr>
	<tr><td><%=vivienda[1]%></td><td><%=vivienda[0]%></td><td><%=vivienda[2]%></td><td><%=vivienda[3]%></td>
	</tr>
	<%end%>
</table>
</div>

<div id="escolar">
<table>
	<h3>Situación Academica</h3>
	 <tr><th>Año</th><th>Grado</th><th>Centro</th><th>Indice</th><th>Observacion</th>
	   </tr>
	<tr><td>2007</td><td>Segundo</td><td>Republica Costa Rica</td><td>78</td><td>Es inquieto</td>
</tr>

</table>
</div>
<%else%>
Por favor, revise el codigo que introdujo. No se encuentra niño con ese codigo.
<%end%>
