<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Gestion de Niños</a></h2>
				<div class="entry">
					<h1>Ingreso del Nino a Asociacion Compartir</h1>



<FORM ACTION="/ninos/create" METHOD="POST">
<label for="code">Foto del Niño:</label><br/>
<INPUT id = "fotilo" TYPE="text" NAME="code"><br/>
<INPUT TYPE="submit" value="Examinar"><br/>

<label for="code">Codigo del Niño:</label><br/>
<INPUT id = "code" TYPE="text" NAME="code" class=":required :integer"><br/>

<label for="code">Codigo del Expediente:</label><br/>
<INPUT id = "code" TYPE="text" NAME="expediente" class=":required"><br/>
 
<label for="nombre">Nombres del Niño:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nombre" class=":required"><br/>
 
<label for="apellido">Apellidos del Niño:</label><br/>
<INPUT id = "apellido" TYPE="text" NAME="apellido" class=":required"><br/>

<label for="fechaNac">Fecha Nacimiento:</label><br/>
<INPUT id = "fechaNac" TYPE="text" NAME="fechaNac" class=":required :date"><br/>

<label for="fecha">Fecha Ingreso:</label><br/>
<INPUT id = "fecha" TYPE="text" NAME="fecha" class=":required :date"><br/>

<label for="sexo">Sexo:</label><br/>
<SELECT NAME="sexo" class=":required"> 
   <OPTION VALUE="M">M</OPTION> 
   <OPTION VALUE="F">F</OPTION> 
</SELECT> 
<br/>

<div id="centro">
			<h3>Centro</h3>
			<%unless @centros.nil?%>
				<%@centros.each do |c|%>
				 	<input type="radio" class="cent" name="centro" value=<%= "#{c.nombre.gsub(/ /,"_")}_#{c.sector.gsub(/ /,"_") }"%>><%="#{c.nombre} #{c.sector} "%> 
					</br>
				<%end%>
			<%end%>
		</div>

<label for="codigo">Codigo del Educador Asignado:</label><br/>
 <%unless @educador.nil?%>
			<%@educador.each do |e| %>
				<input id=<%=e.codigo%> type="radio" class="educ" name="educ" value=<%=e.codigo%>><%="#{e.codigo} #{e.nombre} #{e.apellido}"%>  </input></br>
			<%end%>
		<%end%>



<INPUT TYPE="submit" value="Inscribir Niño">
</FORM> 

				</div>
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
			<li>
					<h2>Operaciones</h2>
					<ul>
						<li><a href="/ninoform">Ingresar un Niño</a></li>
						<li><a href="/busqueda">Listado de Niños</a></li>
						<li><a href="/especifico">Niño especifico </a></li>
						<li><a href="/reporte">Reportes</a><li>
					</ul>
				</li>
			</ul>	
				
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>

