<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Gestion de Padrinos</a></h2>
				<div class="entry">
					<p>Ingresar un nuevo padrino.</p>
				<%=form_tag( { :action => :savePadrino }, { :method => :post }) %>
Codigo: <input type="text" name="codigo"  class=":required :integer"></input></br>
Nombre: <input type="text" name="nombre" class=":required"></input> </br>
Nacionalidad: <input type="text" name="nacionalidad"></input></br>
Titulo: <input type="text" name="titulo" width=3></input></br>
</br>
<input type=submit value=crear>
</form>

<table>
<tr> <th>Codigo</th><th>Titulo</th><th> Nombre</th><th>Nacionalidad</th>
</tr>
<%@padrinos.each do |padrino|%>
		<tr><td><%=padrino.codigo%></td><td><%=padrino.titulo%></td><td><%=padrino.nombre%></td><td><%=padrino.nacionalidad%></td>
		</tr>
<%end%>
</table>

					<p class="clearfix">&nbsp;</p>
				</div>
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
