<div class="busqueda">

	<form id="seleccion" action="/busqueda" method="get">
	<fieldset>
	<legend>Criterios de busqueda</legend>

		<div id="educador">
		<h3>Educador</h3>
		<input id="todosEducadores" type="checkbox" class="educ" name="educ[]" value="todo">Todos los educadores</input></br>
		<%unless @educador.nil?%>
			<%@educador.each do |e| %>
				<input id=<%=e.codigo%> type="checkbox" class="educ" name="educ[]" value=<%=e.codigo%>><%="#{e.codigo} #{e.nombre} #{e.apellido}"%>  </input></br>
			<%end%>
		<%end%>
		</div>	
	
		<div id="padrinazgo">
		<h3>Tipo Padrinazgo</h3>
			<input type="radio" value="ingresar" name="padrinazgo">Padrinazgo por ingresar </input></br>
			<input type="radio" value="compartir" name="padrinazgo">Padrinazgo compartir</input></br>
			<input type="radio" value="partage" name="padrinazgo">Padrinazgo partage </input></br>
			<input type="radio" value="otros" name="padrinazgo">Otros padrinazgos </input></br>
			<input type="radio" value="interrupcion" name="padrinazgo">Interrupcion padrinazgo</input></br>
			<input type="radio" value="propuestos" name="padrinazgo">Propuestos para egresos</input></br>
			<input type="radio" value="egresados" name="padrinazgo">Egresados</input></br>
		</div>

		<div id="sexo">
		<h3>Sexo</h3>
			<input type="radio" value="m" name="sexo">masculino</input></br>
			<input type="radio" value="f" name="sexo">femenino</input></br>
		</div>

		<div id="centro">
			<h3>Centro</h3>
			<%unless @centros.nil?%>
				<%@centros.each do |c|%>
				 	<input type="checkbox" class="cent" name="centro[]" value=<%= "#{c.nombre.gsub(/ /,"_")}_#{c.sector.gsub(/ /,"_") }"%>><%="#{c.nombre} #{c.sector} "%> 
					</br>
				<%end%>
			<%end%>
		</div>

		<div id="programa">
		<h3>Programa</h3>
		<%unless @programas.nil?%>
			<%@programas.each do |programa|%>
			 <input type="checkbox" class="programa" name="programa[]" value=<%="#{programa[0]}"%>><%="#{programa[0]}"%> </input></br>	
			<%end%>
		<%end%>
		</div>
		<div id="fechaActivo">
		<h3>Fecha</h3>
			Desde: <input class="fecha" id="desde" type="text" name="desde" /><br />
			Hasta:&nbsp; <input class="fecha" id="hasta" type="text" name="hasta" />
		</div>

		<div id="edad">
		<h3>Rango de Edad</h3>
			Desde: <input class="edad" id="desde" type="text" name="desdeEdad" /><br />
			Hasta:&nbsp; <input class="edad" id="hasta" type="text" name="hastaEdad" />
		</div>


	
	</fieldset>
		<input type="submit" name="buscar" value="buscar" />
	</form>
</div>
<button>
<%=link_to "A excel",busqueda_path(:format=>:xls)%> 
</button>
<%unless @ninos.nil?%>
<table>
<tr> <th>Codigo</th><th> Nombre</th><th> Apellido</th><th>Padrinazgo</th><th>Edad</th><th>sexo</th>
		 <th>Vive con</th><th>Centro</th><th>Educador</th><th>Grado Escolar</th>
</tr>

<%@ninos.each do |nino|%>
		<tr><td><%=link_to nino[0],nino_path(nino[0])%></td><td><%=nino[1]%></td><td><%=nino[2]%></td><td><%=nino[3]%></td><td><%=nino[4]%></td><td><%=nino[5]%></td><td><%=nino[6]%></td><td><%="#{nino[7]} #{nino[8]}"%></td><td><%=nino[9]%></td>
		<td><%=nino[10]%></td>
		</tr>
<%end%>
<%else%>
 Ningun niño pertenece a ese criterio
<%end%>
</table>
